/// Base
html,
body {
  height: 100%;
}
body {
  background: $background-color url('/assets/images/hero-bg.jpg') top center no-repeat;

  @include respond-to(site-width) {
    background-size: 100% auto;
  }
}
