/// Sections
.section {
  padding-top:    $grid-gutter*2;
  padding-bottom: $grid-gutter*2;

  @include respond-to(med) {
    padding-top:    $grid-gutter*3;
    padding-bottom: $grid-gutter*3;
  }
}

// Section > Light
.section.light {
  background: $white;
}

// Section > Grey Light
.section.grey-light {
  background: $grey-light-color;
}

// Section > Dark
.section.dark {
  background: $text-color;
  color: $white;
}

// Section > With Shadow
.with-shadow {
  position: relative;
  z-index: 10;
  box-shadow: 0 0 50px transparentize($black, 0.8);
}
