/// Sections
.section {
  padding-top:    $grid-gutter*3;
  padding-bottom: $grid-gutter*3;
}

// Section > Light
.section.light {
  background: $white;
}

// Section > Dark
.section.dark {
  background: $text-color;
  color: $white;
}
