<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  </head>

  <body>
    <header class="site-header">
      <div class="wrapper">
        <div classs="row">
          <div class="sml-c12 med-c4">
            <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
          </div> <!-- .c -->
          <nav class="site-nav sml-c12 med-c8">
            <ul>
              {% for page in site.pages %}
                {% if page.title %}
                <li>
                  <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
                    {{ page.title }}
                  </a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </nav>
        </div> <!-- .row -->
      </div> <!-- .wrapper -->
    </header>

    {{ content }}

    <footer class="site-footer">
      <div class="wrapper">
        <div class="sml-c12">
          &copy;{{ site.time | date: '%Y' }}, {{ site.title }}
        </div> <!-- .c -->
      </div> <!-- .wrapper -->
    </footer>
  </body>
</html>
